@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

 /* width */
    ::-webkit-scrollbar {
        width: 7px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #003C71;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #012d53;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #012d53;
    }    
  }

@layer components {
    .primary-btn {
        @apply py-2 px-4 bg-project-yellow text-project-blue font-bold rounded-md w-fit
    }

    .secondary-btn {
        @apply py-2 px-4 bg-project-blue text-white rounded-md w-fit
    }

    .rotate180 {
        @apply rotate-180
    }

    .main-table {
        @apply drop-shadow-md
    }

    .main-table thead tr {
        @apply bg-project-blue text-white
    }

    .main-table thead tr th {
        @apply text-left p-2
    }

    .main-table thead tr th:first-child {
        @apply rounded-tl-md
    }

    .main-table thead tr th:last-child {
        @apply rounded-tr-md
    }

    .main-table tbody tr {
        @apply odd:bg-table-odd even:bg-table-even
    }

    .main-table tbody tr td {
        @apply p-2 text-sm
    }

    .main-table tbody tr:last-child td:first-child {
        @apply rounded-bl-md
    }

    .main-table tbody tr:last-child td:last-child {
        @apply rounded-br-md  
    }

    .form-input-container {
        @apply flex flex-col focus-within:font-bold
    }
    
    .form-input {
        @apply outline-none border border-table-even rounded-md py-1 px-2 text-sm transition-all duration-300 ease-in-out font-normal
        focus:border-project-blue
    }

    .dashboard-grid i {
        font-size: 4em !important;
    }
    
    #complete-check {
        font-size: 10em !important;
    }
}
